<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>IE11 Image Renderer</title>
    </head>
    <body>
        <h1>IE11 Image Renderer</h1>
        <!-- TODO: Add documentation & url bar -->
    </body>
</html>